flask
flask-sqlalchemy
flask-login
python-dotenv
pathlib
datetime
argparse
requests
numpy
pandas
matplotlib
scikit-learn
catboost 
azure-ai-ml
azure-keyvault-secrets
azure-identity
azure-devops
mlflow
openai
nltk

